* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*import*/

@import "./index";
@import "./sobreMi";
@import "./nutricion";
@import "./testimonios";
@import "./contacto";
@import "./media";

/*vars*/

$color-index: #F7ECDE;

/*propiedades body*/

body {
    font-family: 'Poppins', sans-serif;  
}
.background__index {
    background-image: url(../multimedia/fondo2.jpg);
    background-size:cover;
    padding: 4rem 1rem 0rem;
    background-repeat: no-repeat;
}
#grid {
    display: grid;
    grid-template-areas: 
    "headerNav"
    "main"
    "foteer"
    ;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 3fr 1fr;
}

footer {
opacity: 0.6;
}








